:root {
    /* clolor */
    --base-color: #f7ccac;
    --point-color: #826f66;
    --dark-color: #3a3845;

    /* font size */
    --operators-size: 40px;
    --status-size: 30px;
    --small-size: 20px
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark-color);
}

.nav {
    display: flex;
}

.nav i {
    font-size: var(--status-size);
}

.nav span {
    font-size: var(--operators-size);
    text-align: center;
}

input {
    width: 450px;
    height: 200px;
    font-size: var(--status-size);
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: var(--base-color);
    border-radius: 10px;
    width: 500px;
    height: 800px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

button {
    width: 100px;
    height: 40px;
    border: none;
}

/* 제목 가운데로 옮기기, 숫자 패드 색  입히기, 버튼 크기 맞추기 /*