:root {
    /* clolor */
    --base-color: #f7ccac;
    --point-color: #826f66;
    --dark-color: #3a3845;

    /* font size */
    --operators-size: 40px;
    --status-size: 30px;
    --small-size: 20px
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark-color);
}

.calculator {
    background-color: var(--base-color);
    border-radius: 10px;
    width: 500px;
    height: 800px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav i {
    font-size: var(--status-size);
    color: var(--dark-color);
}

.nav p {
    font-size: 40px;
    padding-left: 115px;
    color: var(--dark-color);
}

input {
    width: 450px;
    height: 250px;
    font-size: var(--status-size);
    color: var(--dark-color);
    background-color: var(--base-color);
    border: none;
    text-align: right;
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

button {
    width: 100px;
    height: 65px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: var(--base-color);
    background-color: var(--dark-color);
    cursor: pointer;
}

/* 클래스 대로 버튼 색입히기, js 추가 */